In [14]:
import pandas, numpy
d = {'x': [17, 21, 48, 64, 64, 68, 16,37,62,28,18,17,24,27,16,31,34,45,35,55],
    'z': [50,20,120,85,59,135,12,20,90,85,25,10,48,80,28,15,50,120,68,120],
     'y': [60,69,135,171,140,180,50,113,180,75,55,40,65,70,48,80,60,120,91,140]}
df = pandas.DataFrame(data=d)

df.corr()

          x         y         z
x  1.000000  0.966134  0.724232
y  0.966134  1.000000  0.727231
z  0.724232  0.727231  1.000000